@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background-color: #f3f3f3;
}

.fotoPresentacionContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;

}

.fotoPresentacion{
    border: double 10px #5e121e;
    border-radius: 100px;
}

.container-fluid{
    background-color: #7e5240;
}

.nav-link{
    color: aliceblue;
}

.habilidades-container{
    display: grid;
    grid-template-columns: 50% 50%; 
}

.habilidades{
    padding: 25px;
    padding-left: 100px;
    margin: 25px;
    margin-left: 100px;
}

.experiencia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 35px;
}

.card-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 180px;
    margin: 35px;
}

.botonContacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 35px;
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 35px;
    border-radius: 20px;
    border: solid #5e121e 5px;
}

li{
    display: list-item;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}